<div class="flex flex-col max-w-500 md:min-w-160 -m-6">
    <div *ngIf="!isLoading;else loading">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Extend Maintenance to Licence</div>
            <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <!-- Compose form -->
        <div *ngIf="!isLoading;else loading">
            <form class="d-flex p-6" [formGroup]="form" autocomplete="off">
                <!-- To -->
                <!-- <mat-form-field hidden="true">
                <input matInput [formControlName]="'licence_id'" value="{{licence_data?.id}}">
            </mat-form-field> -->
                <p>Atavism Licence Key : {{licence_data?.licence_key}}</p>
                <p>Type : {{licence_data?.licence_type_name}}</p>
                <p>Maintenance Expiration Date : {{licence_data?.maintenance_expire}} UTC</p>
                <p>Maintenance Plan: </p>
                <label id="example-radio-group-label">Select Maintenance Extention to buy: </label>
                <div *ngIf="licence_data?.licence_type == 'PREM5'">
                    <div [formGroup]="form">
                        <input type="radio" [formControlName]="'maintenances'" value="AtXMain180">
                        Extend Maintenance by 180 days - $90
                        <br />
                        <input type="radio" [formControlName]="'maintenances'" value="AtXMain365" checked>
                        Extend Maintenance by 365 days - $144
                        <br />
                    </div>
                </div>

                <div *ngIf="licence_data?.licence_type == 'PREM1'">
                    <div [formGroup]="form">
                        <input type="radio" [formControlName]="'maintenances'" value="AtAdvMain30"> Extend Maintenance
                        by 30 days - $21<br />
                        <input type="radio" [formControlName]="'maintenances'" value="AtAdvMain90"> Extend Maintenance
                        by 90 days - $63<br />
                        <input type="radio" [formControlName]="'maintenances'" value="AtAdvMain180"> Extend Maintenance
                        by 180 days - $125<br />
                        <input type="radio" [formControlName]="'maintenances'" value="AtAdvMain365" checked> Extend
                        Maintenance by 365 days - $250<br />
                    </div>
                </div>
                <div *ngIf="licence_data?.licence_type == 'PREM2'">
                    <div [formGroup]="form">
                        <input type="radio" [formControlName]="'maintenances'" value='AtUltMain30'> Extend Maintenance
                        by 30 days - $209<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtUltMain90'> Extend Maintenance
                        by 90 days - $625<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtUltMain180'> Extend Maintenance
                        by 180 days - $1250<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtUltMain365' checked> Extend
                        Maintenance by 365 days - $2500<br />
                    </div>
                </div>
                <div *ngIf="licence_data?.licence_type == 'PREM3'">
                    <div [formGroup]="form">
                        <input type="radio" [formControlName]="'maintenances'" value='AtStdMain30'> Extend Maintenance
                        by 30 days - $11<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtStdMain90'> Extend Maintenance
                        by 90 days - $32<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtStdMain180'> Extend Maintenance
                        by 180 days - $63<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtStdMain365' checked> Extend
                        Maintenance by 365 days - $125<br />
                    </div>
                </div>
                <div *ngIf="licence_data?.licence_type == 'PREM4'">
                    <div [formGroup]="form">
                        <input type="radio" [formControlName]="'maintenances'" value='AtProMain30'> Extend Maintenance
                        by 30 days - $105<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtProMain90'> Extend Maintenance
                        by 90 days - $313<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtProMain180'> Extend Maintenance
                        by 180 days - $625<br />
                        <input type="radio" [formControlName]="'maintenances'" value='AtProMain365' checked> Extend
                        Maintenance by 365 days - $1250<br />
                    </div>
                </div>
                <div *ngIf="licence_data?.licence_type != 'PREM5'">
                    If maitanance has expired, the purchased time will cover the time from expiration but not more than
                    180 days.
                </div>
                <div *ngIf="licence_data?.licence_type != 'PREM5'">
                    without back cover.
                </div>

                <div>
                    <mat-form-field class="w-1/2 pl-3">
                        <mat-label>Coupon code:</mat-label>
                        <input matInput [formControlName]="'coupon_code'">
                        <mat-error *ngIf="form.get('coupon_code').hasError('required')">
                            Coupon code is required
                        </mat-error>
                    </mat-form-field>

                    <button class="order-first sm:order-last" style="vertical-align: top;margin: 27px;" type="button"
                        mat-flat-button [color]="'primary'" (click)="varifyCoupan()">
                        Apply
                    </button>
                </div>


                <h5 *ngIf="applyResponse?.original_price && applyResponse?.actual_price" class="dis">
                    Original Price : <span class="greenColor">

                        ${{applyResponse.original_price}}
                    </span>
                </h5>
                <h5 *ngIf="applyResponse?.actual_price && applyResponse?.original_price" class="dis">
                    Discount Price : <span class="greenColor">
                        ${{applyResponse.actual_price}}
                    </span>
                </h5>


                <hr />

                <!-- Actions -->
                <div class="flex flex-col sm:flex-row sm:items-center justify-between">
                    <div class="flex items-center sm:mt-0">
                        <button class="order-first sm:order-last" type="button" mat-flat-button [color]="'primary'"
                            (click)="extendMaintenance()">
                            Confirm and Pay
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #loading>
        <div style="margin: 50% auto">
            <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
            <!-- <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar> -->
        </div>
    </ng-template>
</div>

<ngx-spinner name="spinner-77" bdColor="rgba(0, 0, 0, 0.2)" size="medium" color="#fff"
    template="<img src='./assets/images/logo/atavism_logo_big.png' />" [fullScreen]="false">
    <p style="color: width;"> Loading... </p>
</ngx-spinner>