<div class="flex flex-col max-w-500 md:min-w-160 -m-6">
    <div *ngIf="!isLoading;else loading">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Subscription to Licence</div>
        <button
        mat-icon-button
        (click)="saveAndClose()"
        [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        </div>
        <!-- Compose form -->
        <div *ngIf="!isLoading;else loading">
            <form class="d-flex p-6" [formGroup]="form" autocomplete="off">
            <input type="hidden" [formControlName]="'licence_id'" value="{{licence_data?.id}}">
            <input type="hidden" [formControlName]="'subscription_id'" value="{{subscription_id}}">
            <!-- To -->
            <!-- <mat-form-field [hidden]="true">
                <input matInput [hidden] [formControlName]="'licence_id'" value="{{licence_data?.id}}">
            </mat-form-field> -->
            <!-- <input type="hidden" matInput [formControlName]="'licence_id'" value="{{licence_data?.id}}"> -->
            <p>Atavism Licence Key : {{licence_data?.licence_key}}</p>
            <p>Type : {{licence_data?.licence_type_name}}</p>
            <p>Expiration Date : {{licence_data?.maintenance_expire}} UTC</p>
            <p>Active Subscription Plan : {{licence_data?.connections}} CCU</p>
            <p>Next Payment : {{licence_data?.next_pay}} UTC</p>
            <hr/>
            <!-- Actions -->
            <div class="flex flex-col sm:flex-row sm:items-center justify-between">
                <div class="flex items-center sm:mt-0">
                    <button
                    class="order-first sm:order-last"
                    type="button"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="changeSubscription()">
                    Change Plan
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <ng-template #loading> 
        <div style="margin: 50% auto" >
            <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
            <!-- <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar> -->
        </div>
    </ng-template>
 </div>