.bg-yellow-1000 {
  width: 100px !important;
  --tw-bg-opacity: 1 !important;
  font-weight: bold;
  color: hwb(43deg 6% 10%);
  background-color: rgba(254, 249, 195, var(--tw-bg-opacity)) !important;
}
