/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or
@import "~@ng-select/ng-select/themes/material.theme.css";
// .capitalize {
//     text-transform: capitalize;
// }

.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

// .disabled{
//     //background-color: #EEEEEE !important;
// }

.box {
  margin-top: 10px !important;
  width: 50%;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.bg-green-100 {
  width: 55px;
}

.bg-red-100 {
  width: 70px;
}

.bg-red-1000 {
  width: 100px;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity)) !important;
}

.bg-green-1000 {
  width: 100px;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(220, 252, 231, var(--tw-bg-opacity)) !important;
}

.box:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.box:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.status {
  cursor: pointer;
}

.mat-tab-body-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.active {
  color: #55c975 !important;
  font-weight: bolder;
}

.inactive {
  color: #f11717 !important;
  font-weight: bolder;
}

table {
  width: 100%;
}

.showform {
  .mat-form-field.mat-form-field-appearance-fill
    .mat-form-field-wrapper
    .mat-form-field-flex {
    // background-color: #eeeeee !important;
    cursor: not-allowed;
  }
}

.readonly {
  .mat-form-field.mat-form-field-appearance-fill
    .mat-form-field-wrapper
    .mat-form-field-flex {
    background-color: #eeeeee !important;
    cursor: not-allowed;
  }
}
.add-download-main {
  overflow: scroll;
  height: 570px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.add-download-main::-webkit-scrollbar {
  width: 10px;
}
.add-download-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.add-download-main::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.add-maintenance {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
.add-maintenance::-webkit-scrollbar {
  width: 10px;
}
.add-maintenance::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.add-maintenance::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.add-permanent {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
.add-permanent::-webkit-scrollbar {
  width: 10px;
}
.add-permanent::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.add-permanent::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.add-user-main {
  overflow: scroll !important;
  overflow-x: hidden !important;
}
.add-user-main::-webkit-scrollbar {
  width: 10px !important;
}
.add-user-main::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
.add-user-main::-webkit-scrollbar-thumb {
  background: #d8d8d8 !important;
}

.add-role-main {
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}
.add-role-main::-webkit-scrollbar {
  width: 10px;
}
.add-role-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.add-role-main::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.add-customer-main {
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}
.add-customer-main::-webkit-scrollbar {
  width: 10px;
}
.add-customer-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.add-customer-main::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.edit_customer_main {
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}
.edit_customer_main::-webkit-scrollbar {
  width: 10px;
}
.edit_customer_main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.edit_customer_main::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.add_download_textarea {
  margin: 0px 0 !important;
  padding: 10px 0px !important;
  height: 20px !important;
  min-height: 2px !important;
}
.abc {
  margin: 22px 0 !important;
}

.myPanelClass {
  margin: 30px 0px !important;
}
// .mySelectClass {
//   padding-top: 12px !important;
// }
.mat-paginator-custom {
  background: none !important;
  float: right;
}

/** Scrol bar css */

// ::-webkit-scrollbar {
//   width: 8px;
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-track {
//   background-color: #ebebeb;
// }

// ::-webkit-scrollbar-thumb {
//   background: #0f172a;
//   box-shadow: 0 0 0 1px rgb(255 255 255 / 15%);
//   width: 6px;
//   transition: width 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
// }

.selectWithSearch {
  padding: 10px !important;
  border-bottom: 1px solid !important;
  width: -webkit-fill-available !important;
}

.apexcharts-toolbar {
  display: none !important;
}
span.apexcharts-legend-text {
  color: rgb(148 163 176) !important;
}
.apexcharts-tooltip.apexcharts-theme-dark {
  cursor: pointer !important;
  pointer-events: auto !important;
  overflow: scroll !important;
  max-height: -webkit-fill-available !important;
}
.apexcharts-tooltip.apexcharts-theme-dark:hover {
  opacity: 1 !important;
}

// div#mat-select-6-panel,
// div#mat-select-8-panel,
// div#mat-select-10-panel,
// div#mat-select-12-panel {
//   max-width: 152px !important;
//   margin-top: 46px !important;
//   position: fixed !important;
// }
// .mat-select-panel-wrap.ng-tns-c127-131.ng-trigger.ng-trigger-transformPanelWrap.ng-star-inserted {
//   top: 46px !important;

//   position: fixed !important;
//   width: 152px;
// }

.myPanelClassCustom {
  max-width: 152px !important;
  margin-top: 40px !important;
  margin: -15px;
}
.advise-input {
  cursor: not-allowed;
}

th.month {
  background: black !important;
  color: rgb(15, 199, 30);
}

td.available {
  background: darkgrey;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  min-height: 48px;
  align-items: center;
  border-bottom: 0;
}

.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  align-self: auto;
  bottom: 0px;
}

.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  align-self: auto;
  bottom: 0px;
}
.ng-select .ng-select-container .ng-value-container {
  align-items: stretch;
  padding: 12px;
  border-top: 0 solid transparent;
}

// .ng-dropdown-panel .ng-dropdown-panel-items {
//   max-height: 141px !important;
// }

.darkTheme .ng-select-container {
  background: #1e293b;
  border-bottom: 1px solid #ccc;
}

.darkTheme .ng-select-opened {
  background: #1e293b;
}

.darkTheme .ng-clear-wrapper {
  color: white;
}

.darkTheme .ng-value .ng-star-inserted {
  color: white;
}

.ng-select.ng-select-focused .ng-select-container::after {
  border-width: 0px !important;
}

span.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-ceil {
  left: 421px !important;
}
.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724 !important;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3 !important;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3 !important;
  background-color: #155724 !important;
}

.mat-icon-button.mat-success {
  color:#155724 !important;
}
