body {
  background-color: #fff;
}
.container {
  background-color: #eef2f5;
  padding: 15px;
}
.addtxt {
  padding: 10px;
  background-color: #e5e8ed;
  font-weight: 500;
  width: 100%;
}

.second {
  background-color: white;
  border-radius: 10px;
  //   box-shadow: 10px 10px 5px #aaaaaa;
}
.text1 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b;
}
.text2 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b;
}
.text3 {
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
  color: #828386;
}
.text3o {
  color: #00a5f4;
}
.text4 {
  font-size: 13px;
  font-weight: 500;
  color: #828386;
}
.text4i {
  color: #00a5f4;
}
.text4o {
  color: white;
}
.thumbup {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
}
.thumbupo {
  color: #17a2b8;
}

.closebutton {
  float: right;
}

.heading {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.heading span {
  font-weight: normal;
}

.currentUser {
  text-align: right;
}
