<div class="flex flex-col max-w-500 md:min-w-160 -m-6">
    <div *ngIf="!isLoading">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Settings</div>
            <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <!-- Compose form -->
        <div>
            <form class="p-6" [formGroup]="form" autocomplete="off">
                <!-- To -->
                <mat-form-field class="w-full">
                    <mat-label>Email Address</mat-label>
                    <input matInput [formControlName]="'email'" readonly="readonly">
                    <mat-error *ngIf="submitted && f.email.errors">
                        Email is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Display Name</mat-label>
                    <input matInput [formControlName]="'display_name'" readonly="readonly">
                    <mat-error *ngIf="submitted && f.display_name.errors">
                        Display Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Locale</mat-label>
                    <mat-select [formControlName]="'locale'">
                        <mat-option>--</mat-option>
                        <ng-container *ngFor="let language of languages">
                            <mat-option [value]="language.id">
                                {{language.language}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.locale.errors">
                        Locale is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControlName]="'password'" autocomplete="off">
                    <mat-error *ngIf="submitted && f.password.errors">
                        <span *ngIf="submitted && f.password.errors.required">Password is required</span>
                        <span *ngIf="submitted && f.password.errors.minlength">Password Must Have Minimum Length Of
                            6.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput [formControlName]="'confirm_password'" autocomplete="off">
                    <mat-error *ngIf="submitted && f.confirm_password.errors">
                        <span *ngIf="submitted && f.confirm_password.errors.required">Password is required</span>
                        <span *ngIf="submitted && f.confirm_password.errors.minlength">Password Must Have Minimum Length
                            Of 6.</span>
                        <span *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be
                            match.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Current Password</mat-label>
                    <input type="password" matInput [formControlName]="'current_password'" autocomplete="off"
                        (keyup)="checkPassword($event.target.value)">
                    <mat-error *ngIf="errorMsg">
                        <span>Current Password is not match</span>
                    </mat-error>
                </mat-form-field>
                <hr />
                <!-- Actions -->
                <div class="flex flex-col sm:flex-row sm:items-center justify-between">
                    <div class="flex items-center sm:mt-0">
                        <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                            [disabled]="errorMsg" (click)="save()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #loading>
        <div style="margin: 50% auto">
            <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
            <!-- <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar> -->
        </div>
    </ng-template>
</div>
