<div class="flex flex-col max-w-500 md:min-w-160 -m-6">
    <div>
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium" *ngIf="data?.action != 'Edit'">
                New Request Feature
            </div>
            <div class="text-lg font-medium" *ngIf="data?.action == 'Edit'">
                Update Pool Request
            </div>
            <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <!-- Compose form -->
        <div>
            <form class="p-6 add-permanent" [formGroup]="form">
                <mat-form-field class="w-full pl-3">
                    <mat-label>
                        Title
                    </mat-label>
                    <input matInput [formControlName]="'title'">
                    <mat-error *ngIf="submitted && f.title.errors">
                        Title is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full pl-3">
                    <mat-label>
                        Description
                    </mat-label>
                    <textarea matInput [formControlName]="'description'"> </textarea>
                    <mat-error *ngIf="submitted && f.description.errors">
                        Description is required
                    </mat-error>
                </mat-form-field>
                <hr class="abc" />
                <!-- Actions -->
                <div class="flex flex-col sm:flex-row sm:items-center justify-between">
                    <div class="flex items-center sm:mt-0">
                        <button class="order-first sm:order-last" mat-flat-button [disabled]="clicked"
                            [color]="'primary'" (click)="save()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #loading>
        <div style="margin: 50% auto">
            <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </ng-template>
</div>